<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message à destination des administrateurs</h1>
    <p>Nous vous informons qu'un nouveau lieu a été créé par un utilisateur : <%= @place.name %>.</p>
  	<p>Celui-ci attend votre confirmation dans votre panneau de contrôle administrateur, afin d'être proposé aux utilisateurs de votre plateforme.</p>
  </body>
</html>