

<h1>MES LIEUX FAVORIS</h1>

<div class="row">
    <% @favorite_places.each do |place| %>
    	<%= render "places/place", place: place %></td>
      
    <% end %>

</div>
<%= link_to 'New Favorite', new_user_favorite_path(current_user) %>
