<%= form_with(model: rating, local: true) do |form| %>
  <div class="field">
    <%= form.label :stars %>
    <%= form.number_field :stars %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
