<div class="row justify-content-center">
  <div class="col-lg-5 text-center scroll">
     <a class="js-scrollTo text-center" id="myScrollspy" href="#city-search-bar" ><i class="far fa-arrow-alt-circle-down text-orange fa-4x"></i></a>  
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.js-scrollTo').on('click', function() {
      var page = $(this).attr('href');
      var speed = 750;
      $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
      return false;
    });
  });
</script>