<%= render 'city_choice_modal' %>

<section class="banner-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <div class="banner-content">
          <h1 class="home_text">DÉCOUVRE LES MEILLEURS ENDROITS POUR TRAVAILLER</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
	<div class="row">
		<%= render 'cities' %>
	</div>
</div>

<% if !user_signed_in? %>
<%= render 'cookies_alert' %>
<% end %>
