<p>Bienvenue <%= @email %>!</p>

<p>Tu as récemment créé un compte sur notre plateforme, félicitation à toi !</p>
<p>Tu peux confirmer ton compte via le lien ci-dessous</p>
<p><%= link_to '>CONFIRMER MON COMPTE<', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>À bientôt sur we-join.fr !</p>
<p>L'équipe WeJoin.</p>


