<p>Salut <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons afin de te notifier que ton email de compte a fait l'objet d'une demande de changement vers: <%= @resource.unconfirmed_email %>.</p>
  <p>L'équipe WeJoin.</p>
<% else %>
  <p>Nous te contactons afin de te notifier que ton email de compte a bien été changé ! Celui-ci est désormais : <%= @resource.email %>.</p>
  <p>L'équipe TRYP.</p>
<% end %>
