<p>Salut <%= @resource.email %>!</p>

<p>Ton compte a été vérouillé suite à de trop nombreuses tentatives de connexion ayant fait l'objet d'un echec.</p>

<p>Tu peux cliquer sur le lien ci-dessous pour dévérouiller ton compte : </p>

<p><%= link_to '>DÉVÉROUILLER MON COMPTE<', unlock_url(@resource, unlock_token: @token) %></p>
<p>L'équipe WeJoin.</p>
