<p id="notice"><%= notice %></p>
<div class="container">
	<div class="space"></div>
	<h1>Attendances</h1>

	<div id="my-events_calendar">
	  <%= render partial: "calendar", locals: {events: @attendances} %>
	</div>

</div>