<div class="container">
	<div class="row justify-content-center">
	    <div class="col-lg-12 bloc">

			<div class="row title_bloc">
				<div class="col-lg-12 text-center ">
					<h2>Mon planning</h2>
				</div>
			</div>

			<div id="my-events_calendar">
			  <%= render partial: "calendar", locals: {events: @attendances} %>
			</div>
		</div>

		<div class="col-lg-12 bloc">

			<div class="row title_bloc">
				<div class="col-lg-12 text-center ">
				  <h2>Mon historique</h2>
				</div>
			</div>
				
			<div class="history">
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Nom du lieu</th>
						</tr>
					</thead>
				
					<tbody>
						<% @past_attendances.each do |attendance| %>
								<tr>
									<td><%= attendance.date.to_date %></td>
									<td><%= attendance.place.name %></td>
								</tr>
						<%end%>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>