<div class="col-lg-4">	    			    
	<div class="card">
		<div class="card-body text-center d-flex justify-content-center ">
			<h1  id="add-place" class="text-white rounded-circle bg-dark">+</h1>
			<h4 class="card-title"><%= link_to '', new_city_place_path(city), class:'stretched-link' %></h4>
		</div>
	</div>
</div>