<div class="col-lg-4">	    			    
	<div class="card-add card-hover">
		<div class="card-body text-center justify-content-center ">
			<h1  ><i class="fas fa-plus-circle fa-4x text-orange card-img-top mt-5"></i></h1>
			<h5><%= link_to '', new_city_place_path(city), class:'stretched-link text-orange' %></h5>
		</div>
	</div>
</div>