
  <div class="space"></div>


  <footer class="modal-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card-footer">
              <h6>NOS ENGAGEMENTS</h6>
              <p>
              Mentions légales</br>
              Politique de confidentialité</br>
              Données personnelles et sécurité</br>
              Utilisation des cookies</p>
            </div>
          </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card-footer">
            <h6>NEWSLETTER</h6>
            <p>Abonnez-vous pour rester à la page !</p>
            <div>

              <form target="_blank" novalidate="true" action="#"
               method="get" class="form-inline">

                <div class="d-flex flex-row">
                  <input class="form-control" name="EMAIL" placeholder="Entre ton email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pas encore disponible... '"
                   required="" type="email">
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card-footer">
            <h6>NOUS CONNAÎTRE</h6>
            <p>
            À propos de nous</br>
            Accessibilité et plan du site</br>
            Contactez-nous</br>
            Aide</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card-footer">
            <h6>SUIVEZ-NOUS</h6>
            <p>Sur les réseaux sociaux !</p>
            <div class="footer-social d-flex align-items-center flex-row justify-content-left">
              <a href="https://www.linkedin.com/in/texierjulien/" target="_blank"><i class="fab fa-instagram fa-2x border rounded-circle p-2 text-center text-orange ml-2 mr-2" style="width:50px; height:50px;" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/paul-mouchel-54875216a/" target="_blank"><i class="fab fa-twitter fa-2x border rounded-circle p-2 text-center text-orange ml-2 mr-2" style="width:50px; height:50px;" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/sarah-bouchir-80b33aa6/" target="_blank"><i class="fab fa-facebook fa-2x border rounded-circle p-2 text-center text-orange ml-2 mr-2" style="width:50px; height:50px;" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/samuel-deneubourg-4ba847180/" target="_blank"><i class="fab fa-linkedin fa-2x border rounded-circle p-2 text-center text-orange ml-2 mr-2" style="width:50px; height:50px;" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
